html,
body {
    height: 100%;
    font-family: 'Rubik', sans-serif;

}
header{
    margin-bottom:0px;
}
header h1{
    text-align: center;
}
body,h1,h5 {font-family: "Raleway", sans-serif}

body, html {height: 100%}
}
footer{
    background-color: #efefef; 
}
h1{
    color: #002b50;
}

.popuptext {
    font-size: 20pt;
}

.heading {
    font-size: 20pt;
}

.bgimg {
	    background-image: url('../images/beer-brewing-projects.jpg');
	    min-height: 100%;
	    background-position: center;
	    background-size: cover;
	}

