body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}

body, html {
    height: 100%;
    color: #777;
    line-height: 1.8;
}

/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* First image (Logo. Full height) */
.bgimg-1 {
    background-image: url("../images/bioreactor.jpg");
    min-height: 100%;
}

/* Second image (Portfolio) */
.bgimg-2 {
    background-image: url("..//w3images/parallax2.jpg");
    min-height: 400px;
}

/* Third image (Contact) */
.bgimg-3 {
    background-image: url("..//w3images/parallax3.jpg");
    min-height: 400px;
}

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
    }
}

.emphasis {
    text-align: center;
}

/*.dropbtn {
    padding:10px;
    font-size: 14pt;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
}*/

button.accordion {
    background-color: #e5e5e5;
    cursor: pointer;
    color: #4c4c4c;
    padding: 10px;
    padding-bottom: 5px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.3s;
    margin-bottom: 5px;
}

.description {
    text-align: left;
    text-indent: 40px;
    color: #595959;
}

button.accordion.active, button.accordion:hover {
    background-color: #ddd;
}

div.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
}

button.accordion:after {
    content: '+';
    font-size: 20px;
    color: #777;
    float: right;
    margin-left: 5px;
    margin-right: 10px;
}

button.accordion.active:after {
    content: "-";
}