html,
body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}

h1{
	font-size: 15;
}

#chemecarimg{
	background-image: "../images/beer-brewing-projects.jpg"
}
/*.w3-container, h3{
	text-align: "center";
}*/