---
layout: default
title: Alumni
description: Envision Alumni Members
permalink: /alumni/
---
{% assign members = site.members | where:"status", "alumni" | sort: 'year' %}
<section class="banner style2 align-center">
	<div class="inner">
		<header>
            <div id="breadcrumbs" class="align-left">
              <ol itemscope itemtype="http://schema.org/BreadcrumbList" class="breadcrumbs-ol">
              <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="/">
                <span itemprop="name">Home</span></a>
                <meta itemprop="position" content="1" />
              </li>
              <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="/team/">
                <span itemprop="name">Team</span></a>
                <meta itemprop="position" content="2" />
              </li> 
              <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="{{ page.url }}">
                <span itemprop="name">{{ page.title }}</span></a>
                <meta itemprop="position" content="3" />
              </li>                  
              </ol>
              <hr>
            </div>
            <h1>Envision <strong>Alumni</strong></h1>           
      	</header>
      	<p>Please feel free to contact our alumni members by email or add them on LinkedIn if you have any questions.</p>
		<ul class="actions horizontal align-center">
			<li><a class="button small" href="/team/">Back to Team</a></li>
		</ul>      	
		<div>
			<table class="alt">
			<thead>
				<tr>
					<td>Name</td>
					<td>Alumni Since</td>
					<td>Now At</td>
					<td>Contact</td>
				</tr>
			</thead>
			<tbody>
			{% for member in members %}
			<tr>
				<td>
					<a href="{{ member.url }}">{{ member.name }}</a>
				</td>
				<td>
					<i>{{ member.year }}</i>
				</td>
				<td>
					{{ member.alumni_position }}
				</td>
				<td> 
					{% if member.linkedin %}
					<a href="{{ member.linkedin }}" target="_blank">LinkedIn</a>
					{% endif %}	
				</td>				
			</tr>
			{% endfor %}
			</tbody>
			</table>
		</div>
	</div>
</section>