---
layout: default
title: Team
description: Envision Team Members
permalink: /team/
---
{% assign members = site.members | sort: 'weight' %}
<section class="banner style2 align-left">
	<div class="inner">
		<header>    
		{% include breadcrumbs.html %} 
        <h1>Envision <strong>People</strong></h1>       
        <p class="major">Putting innovation, technology and engineering into practice.</p>      
      	</header>	

      	<p>Interested in building the <strong>next big thing</strong>? <a href="/recruitment/">Join us.</a>
      	<ul class="actions horizontal align-center">
      		<li><a class="button small smooth-scroll-middle" href="#team">Team</a></li>
			<li><a class="button small smooth-scroll-middle" href="#board">Board</a></li>
			<li><a class="button small" href="/alumni/">Alumni</a></li>
		</ul> 
		<h2 id="team">Envision <strong>Team</strong></h2>
		<p>UBC Envision is divided into 4 main projects linked by a common leadership team that oversees all projects and team activities. Please feel free to contact our team members directly by email or add them on LinkedIn if you have any questions about our work.</p>
		<div class="items style1 small" id="team-members">
			{% for member in members %}
			{% unless member.status contains 'board' or member.status contains 'alumni' %}
			<section class="member">
				<a href="{{ member.url }}"><img alt="{{member.name}}" src="{{ member.img | prepend: site.baseurl | prepend: site.url }}" class="onscroll-image-fade-in img-team"></a>
				<h4><b>{{ member.name }}</b> 
					{% if member.linkedin %}
					| <a href="{{ member.linkedin }}" class="fa fa-linkedin" target="_blank"></a>
					{% endif %}
					{% if member.website %}
					| <a href="{{ member.website }}" class="fa fa-home" target="_blank"></a>
					{% endif %}
					<br>
					<i class="member-title">{{ member.title }}</i></h4>
				{% if member.email %}
				<h5>
					<i class="fa fa-envelope"></i> 
					<a href="mailto:{{member.email}}">{{member.email}}</a>
				</h5>
				{% endif %}
			</section>
			{% endunless %}
			{% endfor %}
		</div>
	</div>
</section>

{% assign board_members = site.members | sort: 'weight' | where:"status", "board" %}
<section class="banner style2 align-left" id="board">
	<div class="inner">
		<header>
          <h2>Envision <strong>Board</strong></h2>
      	</header>
      	<p>The UBC Envision leadership is supported by a volunteer board comprised of alumni members and UBC faculty members. Our AIChE faculty advisor is <a href="http://www.chbe.ubc.ca/profile/jonathan-verrett/" target="_blank">Dr. Jonathan Verrett</a>. The Board provides strategic advice and oversight on team activities and guidance for long-term goals. </p>
		<div class="items style2 medium" id="board-members">
			{% for member in board_members %}
			<section class="member">
				<a href="{{ member.url }}"><img alt="{{member.name}}" src="{{ member.img | prepend: site.baseurl | prepend: site.url }}" class="onscroll-image-fade-in img-team"></a>
				<h4><b>{{ member.name }}</b> 
					{% if member.linkedin %}
					| <a href="{{ member.linkedin }}" class="fa fa-linkedin" target="_blank"></a>
					{% endif %}
					{% if member.website %}
					| <a href="{{ member.website }}" class="fa fa-home" target="_blank"></a>
					{% endif %}
					<br>
					<i>{{ member.title }}</i></h4>
				{% if member.email %}
				<h5>
					<i class="fa fa-envelope"></i> 
					<a href="mailto:{{member.email}}">{{member.email}}</a>
				</h5>
				{% endif %}
			</section>
			{% endfor %}
		</div>
	</div>
</section>
