<div id="breadcrumbs" class="align-left">
  <ol itemscope itemtype="http://schema.org/BreadcrumbList" class="breadcrumbs-ol">
  <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/">
    <span itemprop="name">Home</span></a>
    <meta itemprop="position" content="1" />
  </li>
  <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="{{page.url}}">
    <span itemprop="name">{{page.title}}</span></a>
    <meta itemprop="position" content="2" />
  </li>              
  </ol>
  <hr>
</div>