<footer class="wrapper style1 align-left invert edge--top">
	<div class="inner">

		<header>
			<h2><strong>UBC</strong> Envision</h2>
			<p class="major">The UBC AIChE Student Chapter</p>
		</header>
		<p>University of British Columbia, Vancouver</p>
		<div class="items style3 medium">
			<section>
				<p><b>Navigation</b></p>
				<ul class="actions vertical small">
					<li><a class="button small fit" href="/about/">About Us</a></li>
					<li><a class="button small fit" href="/recruitment/">Recruitment</a></li>
					<li><a class="button small fit" href="/team/">Team</a></li>
					<li><a class="button small fit" href="/news/">News</a></li>
					<li><a class="button small fit" href="/blog/">Blog</a></li>
				</ul>				
			</section>
			<section class="align-left">
				<p><b>Projects</b></p>
				<ul class="actions vertical small">
					<li><a class="button small fit" href="http://www.ubcchemecar.com" target="_blank">Chem-E-Car</a></li>
					<li><a class="button small fit" href="/flowcell/">Flow Cell</a></li>
					<li><a class="button small fit" href="/algae/">Algae</a></li>
					<li><a class="button small fit" href="/beer/">CHBeer</a></li>
				</ul>				
			</section>
			<section class="align-left"> 
				<p><b>News</b></p>
				<ol class="vertical small" style="list-style: none;">
					{% for post in site.posts limit:3 %}
					<li class="footer-li"><a href="{{ post.url }}">{{ post.title }}</a></li>
					{% endfor %}
				</ol>			    				
			</section>			
		</div>
		<section class="align-right">
			<img alt="envision" class="header-logo header-logo-footer" src="/assets/images/envision.png">

		    <p><span class="fa fa-envelope"></span> Email: <a href="mailto:contact@ubcenvision.com">contact@ubcenvision.com</a></p>
				<div class="content">
				    <ul class="icons">
				        <li><a href="https://twitter.com/envisionubc" class="icon style2 fa-twitter"><span class="label">Twitter</span></a></li>
				        <li><a href="https://www.facebook.com/ubcenvision/" class="icon style2 fa-facebook"><span class="label">Facebook</span></a></li>
				        <li><a href="https://www.instagram.com/ubcenvision/" class="icon style2 fa-instagram"><span class="label">Instagram</span></a></li>
				        <li><a href="https://github.com/ubcenvision" class="icon style2 fa-github"><span class="label">Github</span></a></li>
				    </ul>			
				</div>		    
			<p>&copy; UBC Envision Engineering Design Team | <a target="_blank" href="https://html5up.net">Theme</a> | <a target="_blank" href="https://www.siang.ca/">Dev</a></p>
		</section>
	</div>
</footer>

<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/jquery.scrollex.min.js"></script>
<script src="/assets/js/jquery.scrolly.min.js"></script>
<script src="/assets/js/skel.min.js"></script>
<script src="/assets/js/simplyscroll.js"></script>
<script src="/assets/js/instafeed.js"></script>
<script src="/assets/js/util.js"></script>
<script src="/assets/js/main.js"></script>
<script src="/assets/js/remodal.min.js"></script>
