<footer class="wrapper style1 align-center invert">
	<div class="inner">
		<div class="index align-left">
			<section>
			<header>
				<h2><strong>UBC</strong> Envision</h2>
				<p>The Official UBC AIChE Student Chapter</p>
			</header>
			<div class="content">
			    <ul class="icons">
			        <li><a href="https://twitter.com/envisionubc" class="icon style2 fa-twitter"><span class="label">Twitter</span></a></li>
			        <li><a href="https://www.facebook.com/ubcenvision/" class="icon style2 fa-facebook"><span class="label">Facebook</span></a></li>
			        <li><a href="https://www.instagram.com/ubcenvision/" class="icon style2 fa-instagram"><span class="label">Instagram</span></a></li>
			        <li><a href="https://github.com/ubcenvision" class="icon style2 fa-github"><span class="label">Github</span></a></li>
			    </ul>			
			</div>
		</div>
		<hr>
		<section class="align-left">
			<img class="header-logo header-logo-footer" src="/images/envision.png">
			<h4>Shipping Address</h4>
			<blockquote>
				Chemical and Biological Engineering Building <br>
				2360 East Mall <br>
				Vancouver V6T 1Z3 <br>
				British Columbia, Canada
			</blockquote>
			<hr>
		<section>
		<section class="align-right">
		    <p><span class="fa fa-envelope"></span> Email: <a href="mailto:contact@ubcenvision.com">contact@ubcenvision.com</a></p>
			<p>&copy; UBC Envision Engineering Design Team | <a target="_blank" href="https://html5up.net">Theme</a> | <a target="_blank" href="https://www.siang.ca/">Web Dev</a></p>
		</section>
	</div>
</footer>

<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/jquery.scrollex.min.js"></script>
<script src="/assets/js/jquery.scrolly.min.js"></script>
<script src="/assets/js/skel.min.js"></script>
<script src="/assets/js/simplyscroll.js"></script>
<script src="/assets/js/instafeed.js"></script>
<script src="/assets/js/util.js"></script>
<script src="/assets/js/main.js"></script>
<script src="/assets/js/remodal.min.js"></script>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-109219093-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-109219093-1');
</script>