<footer class="wrapper style1 align-left invert edge--top">
	<div class="inner">

		<header>
			<h2><strong>UBC</strong> Envision</h2>
			<p class="major">The UBC AIChE Student Chapter</p>
		</header>
		<p>University of British Columbia, Vancouver</p>
		<hr>
		<div class="items style3 medium">
			<section>
				<p class="footer-head">Navigation</p>
				<ul class="vertical footer-ol">
					<li><a href="/" class="footer-li navigation-li"><img alt="envision" class="header-logo header-logo-nav header-logo-overlay" src="/assets/images/envision.png"></a></li>
				    {% for item in site.data.nav.pages %}
				     <li><a class="footer-li navigation-li" href="{{ item.url }}" alt="{{ item.title }}">{{ item.title }}</a></li>
				    {% endfor %}					
				</ul>				
			</section>
			<section class="align-left">
				<p class="footer-head">Projects</p>
				<ul class="vertical footer-ol">
					<li><a class="footer-li navigation-li" href="http://www.ubcchemecar.com" target="_blank">Chem-E-Car</a></li>
					<li><a class="footer-li navigation-li" href="/flowcell/">Flow Cell</a></li>
					<li><a class="footer-li navigation-li" href="/algae/">Algae</a></li>
					<li><a class="footer-li navigation-li" href="/beer/">CHBeer</a></li>
				</ul>				
			</section>
			<section class="align-left"> 
				<p class="footer-head">Latest News</p>
				<ol class="vertical footer-ol">
					{% for post in site.categories.news limit:3 %}
					<li class="footer-li"><span class="footer-date">{{ post.date | date: "%b %-d, %Y" }}</span><br><a href="{{ post.url }}">{{ post.title }}</a></li>
					{% endfor %}
				</ol>	
				<p class="footer-head">New Blog Articles</p>				
				<ol class="vertical small footer-ol">
					{% for post in site.categories.blog limit:3 %}
					    {% assign author_array = "" | split: "," %}
				        {% for name in post.author %}
				          {% assign author = site.members | where:"name", name | first %}
				          {% if author == null %}
				          {% assign author_array = author_array | push: name %}
				          {% else %}
				          {% capture link %}<a href="{{ author.url }}">{{ author.name }}</a>{% endcapture %}
				          {% assign author_array = author_array | push: link %}
				          {% endif %}
				        {% endfor %}
					<li class="footer-li"><span class="footer-date">{{ post.date | date: "%b %-d, %Y" }}</span> | <span class="footer-author">{{ author_array | array_to_sentence_string }}</span><br><a href="{{ post.url }}">{{ post.title }}</a></li>
					{% endfor %}
				</ol>	
			</section>			
		</div>
		<hr>
		<section class="align-right">
			<img alt="envision" class="header-logo header-logo-footer" src="/assets/images/envision.png">

		    <p><span class="fa fa-envelope"></span> Email: <a href="mailto:contact@ubcenvision.com">contact@ubcenvision.com</a></p>
				<div class="content">
				    <ul class="icons">
				        <li><a href="https://twitter.com/envisionubc" class="icon style2 fa-twitter"><span class="label">Twitter</span></a></li>
				        <li><a href="https://www.facebook.com/ubcenvision/" class="icon style2 fa-facebook"><span class="label">Facebook</span></a></li>
				        <li><a href="https://www.instagram.com/ubcenvision/" class="icon style2 fa-instagram"><span class="label">Instagram</span></a></li>
				        <li><a href="https://github.com/ubcenvision" class="icon style2 fa-github"><span class="label">Github</span></a></li>
				    </ul>			
				</div>		    
			<p>&copy; UBC Envision Engineering Design Team | <a target="_blank" href="https://github.com/UBCEnvision/UBCEnvision.github.io">Source on Github</a> | <a target="_blank" href="https://html5up.net">Theme</a> | <a target="_blank" href="https://www.siang.ca/">Dev</a></p>
		</section>
	</div>
</footer>

<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/jquery.scrollex.min.js"></script>
<script src="/assets/js/jquery.scrolly.min.js"></script>
<script src="/assets/js/skel.min.js"></script>
<script src="/assets/js/simplyscroll.js"></script>
<script src="/assets/js/instafeed.js"></script>
<script src="/assets/js/util.js"></script>
<script src="/assets/js/main.js"></script>
<script src="/assets/js/remodal.min.js"></script>

<!-- Navbar -->
<script type="text/javascript">
$(document).ready(function(){
    $(".button-nav a").click(function(){
        $(".overlay").fadeToggle(200);
       $(this).toggleClass('btn-open').toggleClass('btn-close');
    });
});
$('.overlay').on('click', function(){
    $(".overlay").fadeToggle(200);   
    $(".button-nav a").toggleClass('btn-open').toggleClass('btn-close');
    open = false;
});
</script>
