<head>
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-109219093-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-109219093-1');
	</script>
	{% if page.layout == 'member' %}	
	<title>UBC Envision | {{ page.name }} </title>
	{% else %}
	<title>UBC Envision{% if page.title %} | {{ page.title }} {% endif %}</title>
	{% endif %}
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	{% if page.excerpt %}
	{% assign description = page.excerpt | newline_to_br | strip_newlines | replace: '<br />', ' ' | strip_html | strip |  truncatewords: 35 %}
	<meta name="description" content="{{ description }}">
	{% else %}
	<meta name="description" content="UBC Envision is the AIChE (American Institute of Chemical Engineers) student chapter at the University of British Columbia, Vancouver, Canada. Our student-led team fosters a fearless, no-holds-barred approach when coming up with innovative solutions to engineering problems.">
	{% endif %}

	<link rel="stylesheet" href="/assets/css/main.css" />
	<link rel="stylesheet" href="/assets/css/navbar.css" />
	<link rel="stylesheet" href="/assets/css/remodal.css">
	<link rel="stylesheet" href="/assets/css/remodal-default-theme.css">
	<link rel="stylesheet" href="/assets/css/instafeed.css">
	<link rel="shortcut icon" href="/assets/favicon.ico">
</head>
