/* Custom CSS modifying Story for the Envision site */

.article-title{
	color: #36589A;
	font-weight: 500;
	text-transform: uppercase;
	text-decoration: none;
}

.article-author{
	font-size: 0.8em !important;
	letter-spacing: 2px;
}

.icon-theme {
	color: #36589A !important;
}

.reading-time-article:before{content:'•';padding-right:1px;}


.project-list{
	text-decoration: none !important;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 1em;
	font-weight: 500;
}

/*Footer styles*/
.footer-head{
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #47D3E5 !important;
	font-size: 1.2em;
}

.footer-date{
	font-weight: 100;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #47D3E5;
}

.footer-author{
	font-style: oblique;
}

.footer-li{
	margin:0 0 10px 0;
}

.footer-ol{
	list-style: none; 
	padding-left:0;
	font-size: 0.9em !important;
	font-weight: 300;
}

.navigation-li{
	text-transform: uppercase;
	font-weight: 500;
	font-size: 1.1em;
}

.footer-ol li{
	margin-top: 20px;
}

.footer-ol li a{
	text-decoration: none !important;
}

.author-written{
	font-weight: 600;
	text-transform: uppercase;
	font-size: 0.8em;
	letter-spacing: 2px;
}

/* Angled footer container */
.edge--top {
  position: relative;
  z-index: 1;
}
.edge--top:before {
  background: inherit;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
  -webkit-backface-visibility: hidden;
}
.edge--top:before {
  top: 0;
  -webkit-transform: skewY(1.5deg);
          transform: skewY(1.5deg);
  -webkit-transform-origin: 100% 0;
          transform-origin: 100% 0;
}

/*Blog formatting*/
#blog-content{
	margin-bottom: 15%;
}

#blog-content h1,#blog-content h2, #blog-content h3, #blog-content h4{
	font-weight: 600;
	line-height: 2em;
	color: #36589A;
}

.blog-container{
	margin-right: 5%;
	overflow: hidden;
}

#blog-content h1{
	font-size: 1.6em;
}

#blog-content h2{
	font-size: 1.3em;
}

#blog-content p{
	font-size: 1.1em;
	line-height: 1.8em;
}

#blog-content img{
	max-width: 80%;
	display: block; 
	margin: 0 auto;
	padding-top: 5%;
	padding-bottom: 5%;
}

#post-title{
	font-weight: 800;
	font-size: 1.8em;
}

#post-author{
	font-weight: 300;
	font-size: 1em;
	text-transform: uppercase;
	letter-spacing: 2px;
}

#post-author a{
	font-weight: 500;
}

#header {
	background: white;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.075);
	color: inherit;
	cursor: default;
	font-size: 0.8em;
	left: 0;
	padding: 1.0em 1.5em;
	position: relative;
	top: 0;
	width: 100%;
	z-index: 10000;
}

.blog-authors{
	display:flex;
    align-items:center;
    margin-bottom: 20px;
}

.blog-author-text{
	font-size: 0.8em;
}

/*Image formatting for team photos*/
.img-team {
	width: 110px; 
	height: 110px;
	border-radius: 50%;
}

.img-team-blog{
	width: 80px;
	height: 80px;
	margin-right: 10px;
	margin-bottom: 10px;
}

.img-profile-page{
	width: 150px; 
	height: auto;	
	border-radius: 0%;
	max-width: 100%;
	/*margin-left: 5px;*/
	/*margin-right: 5px;*/
}

.main-gallery img{
	-webkit-filter: brightness(0.15);
	filter: brightness(0.15);
    zoom: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);	
}

.main-gallery img:hover{
	-webkit-filter: brightness(1.0);
	filter: brightness(1.0);
    transform:scale(1.3);
    -ms-transform:scale(1.3); /* IE 9 */
    -moz-transform:scale(1.3); /* Firefox */
    -webkit-transform:scale(1.3); /* Safari and Chrome */
    -o-transform:scale(1.3); /* Opera */
}

.img-team-inner {
	width: 180px !important; 
	height: 180px !important;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);		
}

.img-team-inner:hover {
	transition: all .5s ease;
    transform:scale(1.3);
    -ms-transform:scale(1.3); /* IE 9 */
    -moz-transform:scale(1.3); /* Firefox */
    -webkit-transform:scale(1.3); /* Safari and Chrome */
    -o-transform:scale(1.3); /* Opera */
    vertical-align: middle;
}

.header-logo {
	-webkit-filter: brightness(0.0);
	filter: brightness(0.0);
	max-width: 100%;
	width: 150px;
	margin-top: 20px;
	margin-bottom: 5px;	
	vertical-align: middle;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);	
    /*display: block !important;*/
    visibility: visible !important;
}

.header-logo:hover {
	transition: all .4s ease !important;
    transform:scale(1.2) !important;
    -ms-transform:scale(1.2) !important; /* IE 9 */
    -moz-transform:scale(1.2) !important; /* Firefox */
    -webkit-transform:scale(1.2) !important; /* Safari and Chrome */
    -o-transform:scale(1.2) !important; /* Opera */
}

/*Logo sizing*/
.header-logo-info-page{
	width: 250px;
}

.image-overlay{
	width: 100% !important;
	height: 100% !important;
	display: block;
	z-index: 10;
	position: absolute !important;
	top: 0;
	left: 0;
	margin: auto;
	overflow: hidden !important;
}

.envision-banner{
	-webkit-filter: brightness(0.6);
	filter: brightness(0.6);	
}

.envision-banner:hover{
	-webkit-filter: brightness(0.8);
	filter: brightness(0.8);	
}

.image-overlay .news-header{
	text-align: right;
	width: 100%;
	display: inline-block !important;
	z-index: 50;
	padding-left: 5%;
	/*padding-right: 5%;*/
	padding-top: 35%;
}

.news-header, .news-excerpt {
	overflow: hidden !important;
}

.news-header h1:hover{
	color: #47D3E5 !important;
	background-color: rgba(0, 0, 0, 0.8); !important;
}

.news-header p:hover{
	color: #47D3E5 !important;
}

.news-header h1{
	z-index: 50;
	font-size: 1.5em;
	font-weight: 500;
	color: #fff;
	letter-spacing: 1px;
	padding-top: 20px;
	padding-left: 20px;
	padding-bottom: 20px;
	padding-right: 5%;
	background-color: rgba(0, 0, 0, 0.5);
/*	border-top-left-radius: 60px;
	border-bottom-left-radius: 60px;
	border: solid 1px;
	border-color: rgba(255, 255, 255, 0.5);
	border-right: none;*/
}

.header-date{
	font-size: 0.8em;
	margin-bottom: 5px;
	font-weight: 300;
	color: #fff;
	letter-spacing: 1px;
}

.news-excerpt p, .news-excerpt h1, .news-excerpt h2, .news-excerpt h3{
	padding-right: 5%;
	opacity: 0.3 !important;
	color: #eee !important;
	-webkit-filter: blur(0.7px);
	filter: blur(0.7px);
	overflow: hidden;
}

.news-excerpt, .news-excerpt h1:hover, .news-excerpt h2:hover, .news-excerpt h3:hover{
	opacity: 0.8 !important;
	color: #fff !important;
	-webkit-filter: blur(0px);
	filter: blur(0px);
	overflow: hidden;
}

.image-overlay img{
	top: 10% !important;
	left: 25% !important;
	width: 50% !important; 
	height: 100px !important;
	object-fit: contain !important;
	-webkit-filter: brightness(0.0) invert(1.0) !important;
	filter: brightness(0.0) invert(1.0) !important;
	opacity: 0.25;
	z-index: 10;
}

.header-embed {
	vertical-align: middle;
	z-index: 10;
}

.header-logo-footer {
	-webkit-filter: brightness(0.0) invert(1.0) !important;
	filter: brightness(0.0) invert(1.0) !important;
/*	width: 105px !important; 
	margin-top: 5px !important;
	margin-bottom: 0px !important;*/
}

.header-logo-nav {
	width: 100px !important; 
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}

.header-logo:hover {
	-webkit-filter: brightness(1.0);
	filter: brightness(1.0);
}

.header-logo-overlay {
	-webkit-filter: brightness(0.0) invert(1);;
	filter: brightness(0.0) invert(1);;
}

.header-logo-overlay:hover {
	-webkit-filter: brightness(0.0) invert(1);;
	filter: brightness(0.0) invert(1);;
}
