.edge--top {
  position: relative;
  z-index: 1;
}
.edge--top:before {
  background: inherit;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
  -webkit-backface-visibility: hidden;
}
.edge--top:before {
  top: 0;
  -webkit-transform: skewY(1.5deg);
          transform: skewY(1.5deg);
  -webkit-transform-origin: 100% 0;
          transform-origin: 100% 0;
}

#blog-content h1,#blog-content h2, #blog-content h3, #blog-content h4{
	font-weight: 600;
	line-height: 2em;
}

.footer-li{
	margin:0 0 10px 0;
}
.blog-container{
	margin-right: 5%;
	overflow: hidden;
}

#blog-content h1{
	font-size: 2em;
}

#blog-content h2{
	font-size: 1.8em;
}

#blog-content p{
	font-size: 21px;
	line-height: 1.8em;
}

#blog-content img{
	max-width: 80%;
	display: block; 
	margin: 0 auto;
	padding-top: 5%;
	padding-bottom: 5%;
}

#post-title{
	font-weight: 800;
	font-size: 2em;
}

#post-author{
	font-weight: 300;
	font-size: 1em;
}


#header {
	background: white;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.075);
	color: inherit;
	cursor: default;
	font-size: 0.8em;
	left: 0;
	padding: 1.0em 1.5em;
	position: relative;
	top: 0;
	width: 100%;
	z-index: 10000;
}

.blog-authors{
	display:flex;
    align-items:center;
    margin-bottom: 20px;
}

.blog-author-text{
	font-size: 0.8em;
}

.img-team {
	width: 110px; 
	height: 110px;
	border-radius: 50%;
}

.img-team-blog{
	width: 80px;
	height: 80px;
	margin-right: 10px;
	margin-bottom: 10px;
}

.img-profile-page{
	width: 150px; 
	height: auto;	
	border-radius: 0%;
	max-width: 100%;
	/*margin-left: 5px;*/
	/*margin-right: 5px;*/
}

.main-gallery img{
	-webkit-filter: brightness(0.15);
	filter: brightness(0.15);
    zoom: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);	
}

.main-gallery img:hover{
	-webkit-filter: brightness(1.0);
	filter: brightness(1.0);
    transform:scale(1.3);
    -ms-transform:scale(1.3); /* IE 9 */
    -moz-transform:scale(1.3); /* Firefox */
    -webkit-transform:scale(1.3); /* Safari and Chrome */
    -o-transform:scale(1.3); /* Opera */
}

.img-team-inner {
	width: 180px !important; 
	height: 180px !important;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);		
}

.img-team-inner:hover {
	transition: all .5s ease;
    transform:scale(1.3);
    -ms-transform:scale(1.3); /* IE 9 */
    -moz-transform:scale(1.3); /* Firefox */
    -webkit-transform:scale(1.3); /* Safari and Chrome */
    -o-transform:scale(1.3); /* Opera */
    vertical-align: middle;
}

.header-logo {
	-webkit-filter: brightness(0.0);
	filter: brightness(0.0);
	max-width: 100%;
	width: 150px;
	margin-top: 20px;
	margin-bottom: 5px;	
	vertical-align: middle;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);	
}

.header-logo-info-page{
	width: 250px;
}

.header-logo:hover {
	transition: all .4s ease;
    transform:scale(1.5);
    -ms-transform:scale(1.5); /* IE 9 */
    -moz-transform:scale(1.5); /* Firefox */
    -webkit-transform:scale(1.5); /* Safari and Chrome */
    -o-transform:scale(1.5); /* Opera */
}

.header-logo-footer {
	-webkit-filter: brightness(0.0) invert(1.0) !important;
	filter: brightness(0.0) invert(1.0) !important;
/*	width: 105px !important; 
	margin-top: 5px !important;
	margin-bottom: 0px !important;*/
}

.header-logo-nav {
	width: 105px !important; 
	margin-top: 5px !important;
	margin-bottom: 0px !important;
}

.header-logo:hover {
	-webkit-filter: brightness(1.0);
	filter: brightness(1.0);
}

#header h1 {
	font-size: 1.5em;
	font-weight: 900;
	margin: 0;
}

	#header h1 span {
		font-weight: 300;
	}

	#header nav {
		letter-spacing: 0.075em;
		position: absolute;
		right: 1.5em;
		text-transform: uppercase;
		top: 1.1em;
	}

		#header nav ul li {
			display: inline-block;
			margin-left: 1.5em;
		}

			#header nav ul li > ul {
				display: none;
			}

			#header nav ul li a {
				border: solid 1px transparent;
				color: inherit;
				display: inline-block;
				line-height: 1em;
				padding: 0.6em 0.75em;
				text-decoration: none;
			}

			#header nav ul li input[type="button"],
			#header nav ul li input[type="submit"],
			#header nav ul li input[type="reset"],
			#header nav ul li .button {
				font-size: 1em;
				min-width: 0;
				width: auto;
			}

			#header nav ul li.submenu > a:before {
				-moz-osx-font-smoothing: grayscale;
				-webkit-font-smoothing: antialiased;
				font-family: FontAwesome;
				font-style: normal;
				font-weight: normal;
				text-transform: none !important;
			}

			#header nav ul li.submenu > a:before {
				content: '\f107';
				margin-right: 0.65em;
			}

			#header nav ul li.active > a, #header nav ul li:hover > a {
				-moz-transition: all 0.2s ease-in-out;
				-webkit-transition: all 0.2s ease-in-out;
				-o-transition: all 0.2s ease-in-out;
				-ms-transition: all 0.2s ease-in-out;
				transition: all 0.2s ease-in-out;
				background: rgba(188, 202, 206, 0.15);
			}

			#header nav .cc-active {
				font-weight: 900;
			}

	#header.reveal {
		-moz-animation: reveal-header 0.5s;
		-webkit-animation: reveal-header 0.5s;
		-o-animation: reveal-header 0.5s;
		-ms-animation: reveal-header 0.5s;
		animation: reveal-header 0.5s;
	}

	#header.alt {
		-moz-animation: none;
		-webkit-animation: none;
		-o-animation: none;
		-ms-animation: none;
		animation: none;
        background: transparent;
        box-shadow: none;
		color: white;
		padding: 2em 2.5em;
		position: absolute;
	}

		#header.alt nav {
			right: 2.5em;
			top: 1.75em;
		}

			#header.alt nav ul li.active > a, #header.alt nav ul li:hover > a {
				border: solid 1px;
			}
