<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include nav.html %}
    <div id="wrapper" class="divided">
        <section class="spotlight style1 orient-left content-align-left image-position-right onscroll-image-fade-in">
          <div class="content">
            <h2>{% page.project_name %}</h2>
            <p class="major">{% page.project_headline %}</p>
            <p>{% page.project_desc %}</p>
          </div>
          <div class="image">
            <img src="{% page.project_img %}" alt="" />
          </div>
       </section>
       <section class="style1 wrapper container">
         <div class="inner">
           <h2>Project</h2>
           <div class="box">
           <p>{% page.project_box %}</p>
          </div>
        </div>
      </section>          
          
      <section class="style1 wrapper">
      <div class="inner">
        {{ content }}
      </div>
      </section>
      {% include footer.html %}
    </div>

  </body>

</html>
